USE [master]
GO
/****** Object:  Database [baloshop]    Script Date: 3/14/2022 10:44:36 AM ******/
CREATE DATABASE [baloshop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'baloshop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\baloshop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'baloshop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\baloshop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [baloshop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [baloshop]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/14/2022 10:44:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](80) NULL,
	[Account_Detail_Id] [int] NULL,
	[Role_ID] [int] NULL,
	[Status] [int] NULL,
	[Create_Date] [date] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account_Detail]    Script Date: 3/14/2022 10:44:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_Detail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Phone_Number] [nvarchar](50) NOT NULL,
	[Gender] [bit] NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Account_Detail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/14/2022 10:44:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/14/2022 10:44:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Account_Id] [int] NULL,
	[Create_Date] [date] NULL,
	[Total_Price] [decimal](18, 0) NULL,
	[Note] [nvarchar](1000) NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Detail]    Script Date: 3/14/2022 10:44:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Detail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Order_Id] [int] NULL,
	[Product_Id] [int] NULL,
	[Product_Name] [nvarchar](200) NULL,
	[Product_Quantity] [int] NULL,
	[Product_Price] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Other_Address]    Script Date: 3/14/2022 10:44:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Other_Address](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Phone_Number] [nvarchar](100) NULL,
	[Address] [nvarchar](2000) NULL,
	[Order_Id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/14/2022 10:44:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Category_Id] [int] NULL,
	[Price] [float] NULL,
	[Description] [nvarchar](1200) NULL,
	[Quantity] [int] NULL,
	[Status] [int] NULL,
	[Image_Link] [nvarchar](200) NULL,
	[Note] [nvarchar](1000) NULL,
	[SellBy] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/14/2022 10:44:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status_Account]    Script Date: 3/14/2022 10:44:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status_Account](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status_Order]    Script Date: 3/14/2022 10:44:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status_Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status_Product]    Script Date: 3/14/2022 10:44:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status_Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([Id], [Email], [Password], [Account_Detail_Id], [Role_ID], [Status], [Create_Date]) VALUES (1, N'admin@gmail.com', N'123456', 1, 1, 1, CAST(N'2018-08-10' AS Date))
INSERT [dbo].[Account] ([Id], [Email], [Password], [Account_Detail_Id], [Role_ID], [Status], [Create_Date]) VALUES (2, N'mod@gmail.com', N'1234567', 2, 2, 1, CAST(N'2018-08-10' AS Date))
INSERT [dbo].[Account] ([Id], [Email], [Password], [Account_Detail_Id], [Role_ID], [Status], [Create_Date]) VALUES (3, N'customer2@gmail.com', N'123456', 3, 2, 1, CAST(N'2018-08-20' AS Date))
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Account_Detail] ON 

INSERT [dbo].[Account_Detail] ([Id], [Name], [Phone_Number], [Gender], [Address]) VALUES (1, N'Trần Thế Vinh', N'01645090445', 1, N'22 Nguyễn Văn Cừ, Phường Ngọc Lâm, Quận Long Biên, Hà Nội')
INSERT [dbo].[Account_Detail] ([Id], [Name], [Phone_Number], [Gender], [Address]) VALUES (2, N'Nguyễn Đức Lợi', N'01646352891', 1, N'44 Nguyễn Văn Cừ, Phường Ngọc Lâm, Quận Long Biên, Hà Nội')
INSERT [dbo].[Account_Detail] ([Id], [Name], [Phone_Number], [Gender], [Address]) VALUES (3, N'Trần Văn Bình', N'0973876107', 1, N'Đại Học FPT, KM29, Khu công nghệ cao Láng Hòa Lạc, Xã Thạch Hoà, Huyện Thạch Thất, Hà Nội')
SET IDENTITY_INSERT [dbo].[Account_Detail] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Category]) VALUES (1, N'cây cảnh bé')
INSERT [dbo].[Categories] ([Id], [Category]) VALUES (2, N'cây cảnh lớn')
INSERT [dbo].[Categories] ([Id], [Category]) VALUES (3, N'cây trồng ngoài nhà')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [Account_Id], [Create_Date], [Total_Price], [Note], [Status]) VALUES (1, 2, CAST(N'2021-03-18' AS Date), CAST(4200000 AS Decimal(18, 0)), NULL, 4)
INSERT [dbo].[Order] ([Id], [Account_Id], [Create_Date], [Total_Price], [Note], [Status]) VALUES (2, 2, CAST(N'2021-03-22' AS Date), CAST(4434000 AS Decimal(18, 0)), NULL, 4)
INSERT [dbo].[Order] ([Id], [Account_Id], [Create_Date], [Total_Price], [Note], [Status]) VALUES (3, 2, CAST(N'2021-03-27' AS Date), CAST(6000000 AS Decimal(18, 0)), NULL, 1)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Detail] ON 

INSERT [dbo].[Order_Detail] ([Id], [Order_Id], [Product_Id], [Product_Name], [Product_Quantity], [Product_Price]) VALUES (1, 1, 2, N'Cây chuối cảnh', 1, CAST(2200000 AS Decimal(18, 0)))
INSERT [dbo].[Order_Detail] ([Id], [Order_Id], [Product_Id], [Product_Name], [Product_Quantity], [Product_Price]) VALUES (2, 1, 1, N'Cây bonsai', 1, CAST(2000000 AS Decimal(18, 0)))
INSERT [dbo].[Order_Detail] ([Id], [Order_Id], [Product_Id], [Product_Name], [Product_Quantity], [Product_Price]) VALUES (3, 2, 3, N'Cây kim ngân', 1, CAST(2234000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Order_Detail] OFF
GO
SET IDENTITY_INSERT [dbo].[Other_Address] ON 

INSERT [dbo].[Other_Address] ([Id], [Name], [Phone_Number], [Address], [Order_Id]) VALUES (1, N'Trần Thế Vinh', N'01646352891', N'44 Nguyễn Văn Cừ, Phường Ngọc Lâm, Quận Long Biên, Hà Nội', 1)
INSERT [dbo].[Other_Address] ([Id], [Name], [Phone_Number], [Address], [Order_Id]) VALUES (2, N'Trần Thế Vinh', N'01646352891', N'44 Nguyễn Văn Cừ, Phường Ngọc Lâm, Quận Long Biên, Hà Nội', 2)
INSERT [dbo].[Other_Address] ([Id], [Name], [Phone_Number], [Address], [Order_Id]) VALUES (3, N'Nguyễn Minh Toán', N'01646352891', N'44 Nguyễn Văn Cừ, Phường Ngọc Lâm, Quận Long Biên, Hà Nội', 3)
SET IDENTITY_INSERT [dbo].[Other_Address] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Category_Id], [Price], [Description], [Quantity], [Status], [Image_Link], [Note], [SellBy]) VALUES (1, N'Cây bonsai', 1, 2000000, N'Trang trí nội thất phòng làm việc giám đốc bằng cây xanh đang là xu hướng hàng đầu hiện nay. <br> Đây là một gợi ý tuyệt vời được nhiều lãnh đạo lựa chọn. <br> Cây không chỉ mang đến một vẻ đẹp trang nhã, quý phái, tràn đầy sức sống mà còn có khả năng lọc không khí cực tốt. ', 10, 1, N'caybonsai.jpg', NULL, 4)
INSERT [dbo].[Products] ([Id], [Name], [Category_Id], [Price], [Description], [Quantity], [Status], [Image_Link], [Note], [SellBy]) VALUES (2, N'Cây chuối cảnh', 2, 2200000, N'Trang trí nội thất phòng làm việc giám đốc bằng cây xanh đang là xu hướng hàng đầu hiện nay. <br> Đây là một gợi ý tuyệt vời được nhiều lãnh đạo lựa chọn. <br> Cây không chỉ mang đến một vẻ đẹp trang nhã, quý phái, tràn đầy sức sống mà còn có khả năng lọc không khí cực tốt. ', 1, 2, N'caychuoicanh.jpg', NULL, 4)
INSERT [dbo].[Products] ([Id], [Name], [Category_Id], [Price], [Description], [Quantity], [Status], [Image_Link], [Note], [SellBy]) VALUES (3, N'Cây kim ngân', 1, 2234000, N'Trang trí nội thất phòng làm việc giám đốc bằng cây xanh đang là xu hướng hàng đầu hiện nay. <br> Đây là một gợi ý tuyệt vời được nhiều lãnh đạo lựa chọn. <br> Cây không chỉ mang đến một vẻ đẹp trang nhã, quý phái, tràn đầy sức sống mà còn có khả năng lọc không khí cực tốt. ', 20, 1, N'caykimngan.jpg', NULL, 5)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'Customer')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (3, N'Employee')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Status_Account] ON 

INSERT [dbo].[Status_Account] ([Id], [Status]) VALUES (1, N'Đang hoạt động')
INSERT [dbo].[Status_Account] ([Id], [Status]) VALUES (2, N'Đang chờ duyệt')
INSERT [dbo].[Status_Account] ([Id], [Status]) VALUES (3, N'Ngừng sử dụng')
SET IDENTITY_INSERT [dbo].[Status_Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Status_Order] ON 

INSERT [dbo].[Status_Order] ([Id], [Status]) VALUES (1, N'Đang xử lý')
INSERT [dbo].[Status_Order] ([Id], [Status]) VALUES (2, N'Đang giao hàng')
INSERT [dbo].[Status_Order] ([Id], [Status]) VALUES (3, N'Giao hàng thành công')
SET IDENTITY_INSERT [dbo].[Status_Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Status_Product] ON 

INSERT [dbo].[Status_Product] ([Id], [Status]) VALUES (1, N'Còn hàng')
INSERT [dbo].[Status_Product] ([Id], [Status]) VALUES (2, N'Giảm giá')
INSERT [dbo].[Status_Product] ([Id], [Status]) VALUES (3, N'Hết hàng')
SET IDENTITY_INSERT [dbo].[Status_Product] OFF
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF_Account_Creat_Date]  DEFAULT (getdate()) FOR [Create_Date]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [Create_Date]
GO
USE [master]
GO
